* {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* Nav */

nav {
  position: fixed;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: none;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: lighter;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: lightblue;
  margin: 5px;
  transition: all 0.5s ease;
}

/* Header */
.large-header {
  position: relative;
  width: 100%;
  background: #333;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

#large-header {
  background-image: url("/img/Header.jpg");
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #f9f1e9;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.main-title .thin {
  font-weight: 200;
}

/* Cursor */
.cursor__inner {
  z-index: 9999;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  border-radius: 50%;
}

.cursor__inner--dot {
  width: 6px;
  height: 6px;
  background: #fff;
}

.cursor__inner--circle {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
}

/* Media */
@media screen and (min-width: 53em) {
  *,
  *::after,
  *::before {
    cursor: none !important;
  }
}

@media screen and (max-width: 53em) {
  .cursor {
    visibility: hidden;
  }
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 60%;
  }
}

@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  nav {
    justify-content: flex-end;
  }
  .main-title {
    font-size: 3em;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 99.9vh;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    background-color: lightgray;
    transition: transform 0.3s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}
.nav-active {
  transform: translateX(0%);
}

/* Navigation Animation */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
